
###> symfony/framework-bundle ###
/.env.local
/.env.test
/.env
/config/secrets/prod/prod.decrypt.private.php
public/bundles/
/var/
/vendor/
/public/exports
public/images
/.idea
/mysqldata
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
/config/secrets
###< lexik/jwt-authentication-bundle ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
###< symfony/phpunit-bridge ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
