<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Reminder</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
            margin-bottom: 20px;
        }

        .footer {
            margin-top: 20px;
            font-size: 12px;
            color: #999;
        }
    </style>
</head>
<body>
<div class="container">
    <p>We noticed you requested a password renewal.(<br>
        Reset it by click on this button here!</p>
    <a
            type='button'
            href='vetshop-api.boostedgagi.com/password/make_new?
                    token_id={{ token.getId() }}&
                    token={{token.getToken()}}&
                    expires={{token.getExpires()}}&
                    email={{emailAddress}}'
    >
        Reset password
    </a>
</div>
<div class="footer">
    This is an automated message. Please do not reply.
</div>
</body>
</html>
