<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Reminder</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
            margin-bottom: 20px;
        }

        .footer {
            margin-top: 20px;
            font-size: 12px;
            color: #999;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Hi Dragan!</h1>
        <p>We are notifying you that your pet named {{ healthRecord.pet.name }},
            will have Nail trimming on {{ healthRecord.startedAt|date("Y-m-d H:i:s") }}.
            Examination is {{ healthRecord.examination.duration }} minutes long.</p>
        <p>See you then!</p><br>
        <p>Your VetShop!</p>
    </div>
    <div class="footer">
        This is an automated message. Please do not reply.
    </div>
</body>
</html>
