<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Appointment Reminder</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
        }

        .container {
            max-width: 600px;
            margin: 20px auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #333;
        }

        p {
            color: #666;
            margin-bottom: 20px;
        }

        .footer {
            margin-top: 20px;
            font-size: 12px;
            color: #999;
        }
    </style>
</head>
<body>
<div class="container">
    <p>
        Hi {{ vet.getFirstName() }}!<br>
        Our administrator made you a personal account!<br>
        It will be your job account where you will be notified about your scheduled examinations, etc.<br>
        Your email is {{ vet.getEmail() }}, and password is {{ password }} and we suggest to change it after first log
        in.<br><br>
        Kind regards,<br>
        Your VetShop
    </p>
</div>
<div class="footer">
    This is an automated message. Please do not reply.
</div>
</body>
</html>
